
.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.partners__img {
    gap: 5px;
    display: flex;
    align-items: center;
}

.partners__img_item {
    margin-bottom: 18px;
}


@media (max-width: 768px) {
    .partners {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 50px;
        margin-bottom: 120px;
    }
}
